/* Common Css Start */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Manrope:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0px;
    padding: 0px;

}

img {
    vertical-align: middle;
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

:root {
    --poppins: 'Poppins', sans-serif;
    --inter: 'Inter', sans-serif;
    --manrope: 'Manrope', sans-serif;
    --roboto: 'Roboto', sans-serif;

    --popular-des-color: #787885;
    --popular-head-color: #18191F;
    --common-head-color: #3A3A3A;

}


/* Nav Part Start */
#header {
    padding: 85px 120px 50px 120px;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu ul {
    display: flex;
}

.nav-title {
    color: #3A3A3A;
    font-feature-settings: 'clig'off, 'liga'off;
    font-family: var(--poppins);
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
}

.nav-menu ul li a {
    margin-left: 25px;
    color: #3A3A3A;
    font-feature-settings: 'clig'off, 'liga'off;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 600;
    transition: color linear .3s;
}

.nav-menu ul li a:hover {
    color: rgb(172, 122, 61);
}

/* Nav Part End */
/* Banner Part Start */
#banner {
    margin-top: 0px;
}

.banner-content {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-title {
    color: #3A3A3A;
    font-feature-settings: 'clig'off, 'liga'off;
    font-family: var(--poppins);
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
}

.banner-discription {
    margin-top: 10px;
    width: 505px;
    height: 60.9px;
    flex-shrink: 0;
    color: #3A3A3A;
    font-feature-settings: 'clig'off, 'liga'off;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 600;
}

.btn-one {
    margin-top: 20px;
    padding: 10px 24px;
    border: 0px;
    border-radius: 41px;
    background: #E02C6D;
    color: #FFF;
    font-feature-settings: 'clig'off, 'liga'off;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 700;
    transition: all linear .3s;
    cursor: pointer;
}

.btn-one a {
    margin-left: 10px;
}

.btn-one:hover {
    background: #4a2668;
}

.banner-img {
    background-image: url(../images/Circle\ design.svg);
}

.banner-img img {
    position: relative;
    bottom: -20px;
}

/* Place */
#place {
    padding: 20px;
    border: 1px solid #75818f1a;
    margin-top: 100px;
}

.place-img {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Banner Part End */


/* Popular Part Start */
#popular {
    padding: 50px 235px;
}

.popular-head {
    margin-bottom: 3rem;
    text-align: center;
}

.pop-title {
    color: #3A3A3A;
    font-feature-settings: 'clig'off, 'liga'off;
    font-family: var(--poppins);
    font-size: 28px;
    font-weight: 600;
    line-height: 70px;
}

.pop-card {
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    gap: 30px;
}

.card {
    padding: 15px;
    width: 300px;
    height: 420px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.card-head {
    margin-top: 10px;
    color: var(--Text-Gray-900, #18191F);
    font-feature-settings: 'liga'off;
    font-family: var(--poppins);
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
}

.card-stats {
    color: var(--Dark-Color, rgba(0, 0, 0, 0.87));
    font-family: var(--inter);
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
}

.pop-icon a {
    color: Orange;
    font-size: 10px;
}

.pop-icon .icon-stats {
    color: var(--gray-80, #5E6366);
    font-family: var(--roboto);
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.1px;
}

.card-discription {
    color: var(--Gray-50, #787885);
    font-family: var(--inter);
    font-size: 14px;
    font-weight: 700;
    line-height: 143%;
    letter-spacing: 0.252px;
}

.see-more {
    margin-top: 50px;
    margin-right: 80px;
    text-align: end;
    cursor: pointer;
}

.see-more p {
    color: rgba(224, 44, 109, 0.87);
    font-feature-settings: 'clig'off, 'liga'off;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.see-more p a {
    color: #E02C6DDE;
}

/* Feature Part Start */
#feature {
    padding: 100px 165px;
}

.feature-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.feature-head {
    color: #0A0826;
    font-feature-settings: 'clig'off, 'liga'off;
    font-family: var(--poppins);
    font-size: 38px;
    font-weight: 700;
    line-height: 60px;
}

.feature-discription {
    margin-top: 10px;
    color: #6C6C6C;
    font-feature-settings: 'clig'off, 'liga'off;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
}

.feature-button {
    margin-top: 20px;
    padding: 10px 24px;
    border: 0px;
    background: #E02C6D;
    color: #FFF;
    font-feature-settings: 'clig'off, 'liga'off;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 700;
    transition: all linear .3s;
    cursor: pointer;
}

.feature-button a {
    margin-left: 10px;
    color: #FFF;
}

.feature-button:hover {
    background: #4a2668;
}

/* Footer Part Start */

footer {
    padding: 50px 585px;
    background: #0A0826;
}

.footer-content {
    text-align: center;
}

.foot-head {
    color: #FFF;
    font-feature-settings: 'clig'off, 'liga'off;
    font-family: var(--poppins);
    font-size: 24px;
    font-weight: 700;
}

.foot-discription {
    color: var(--Text-Gray-300, #D9DBE1);
    font-feature-settings: 'liga'off;
    font-family: var(--manrope);
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}

.footer-icon {
    margin-left: -30px;
    margin-top: 20px;
}

.footer-icon a {
    margin-left: 30px;
    color: #FFF;
}

/* Responsive Design Start */

/* Mobile Device */
@media screen and (max-width: 576px) {

    /* Nav */
    #header {
        padding: 85px 65px 50px 65px;
    }

    .nav-content {
        flex-direction: column;
        justify-content: space-between;
    }

    .nav-title {
        margin-bottom: 15px;
    }

    /* Banner */
    .banner-content {
        flex-direction: column;
    }

    .banner-text {
        text-align: center;
        margin-bottom: 50px;
    }

    .place-img {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    /* Popular */
    #popular {
        padding: 50px 157px;
    }

    .pop-card {
        padding-left: 50px;
        margin-left: -5rem;
        grid-template-columns: repeat(1, 1fr);
    }

    .see-more {
        margin-top: 50px;
        margin-right: -54px;
    }

    /* Feature */
    .feature-content {
        flex-direction: column-reverse;
    }

    .feature-text {
        text-align: center;
    }

    #feature {
        padding: 50px 35px;
    }

    /* Footer */
    footer {
        padding: 100px 100px;
    }
}

/* Medium or Tablet Divice */

@media screen and (min-width:576.99px) and (max-width:768px) {

    /* Nav */
    .nav-menu {
        margin-left: 30rem;
    }

    .banner-content {
        gap: 50px;
    }

    /* Place */
    .place-img {
        margin-left: 33rem;
    }

    .place-img img {
        margin-right: 4rem;
    }

    /* Popular */
    .pop-title {
        width: 220%;
    }

    .pop-card {
        margin-left: -7rem;
        grid-template-columns: repeat(3, 1fr);
    }

    .see-more {
        margin-right: -35rem;
    }

    /* Feature */
    #feature {
        margin: 1rem 18rem;
        width: 78%;
        padding: 50px 10px;
    }

    .feature-content {
        text-align: center;
        flex-direction: column-reverse;
    }

    /* Footer */
    footer {
        width: 62.95rem;
        height: 100%;
        padding: 100px 100px;
    }
}